/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

header {
    min-height: 120px;
}

/* UTILS */

.bg-first {
    background-color: #141414
}

.text-second {
    color: #E5E5E5;
}

.card-img-top {
    height: 400px;
}

.logo {
    max-width: 200px;
}

.card {
    overflow: hidden;
    cursor: pointer;
}

.card-overlay {
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
    opacity: 1;
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/logo-boolfix.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card-trama {
  max-height: 150px; /* Altezza desiderata per l'area di scorrimento */
  overflow-y: scroll!important; 
  color: rgb(255, 255, 255)
}

.card-trama::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

.card-trama::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
  border: 1px solid #1a1a1a; 
}

.card-trama::-webkit-scrollbar-track {
  background-color: black; 
}